// setup file imports
@use "./utils" as *;

// fonts  imports
@font-face {
    font-family: Poppins;
    src: url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
}


// component file imports


//resets

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;

  ::selection {
    background-color: $primary_color;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 10px;
    border-right: 5px solid transparent;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 20px;
    background: lightgray;
  }
}

body {
  margin: 0;
  background-color: $white_color;
  z-index: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  //   color: $secondary-color;
}

button {
  cursor: pointer;
  transition: all 0.2s linear;
}

figure {
  margin: 0;
}
