$text_size_1: 1.2rem;
$text_size_1_1: 1.3rem;
$text_size_2: 1.4rem;
$text_size_3: 1.6rem;
$text_size_4: 1.8rem;
$text_size_5: 2rem;
$text_size_5_1: 2.2rem;
// $text_size_6: 2.8rem;
// $text_size_7: 5rem;
$text_size_8: 3.6rem;
$text_size_8_1: 4.3rem;
$text_size_9: 4.6rem;
$text_size_10: 4.9rem;

$primary_color: #00a5bf;
$primary_color_light: #2a96f3;
$secondary_color: #261837;
$button_text_dark: #535353;
$pigment_indigo: #440099;
$mountain_mist: #8e8995;
$corn: #e2b100;
$green: #66bc53;
$tomato: #f44336;
$gray: #f8f8f8;
$gallery: #ececec;
$white_color: #fff;
$revolver: #261837;

// --------------------------
$mirage_color: #14212c;
$alice_blue_color: #f6fbff;
$mercury_color: #e2e2e2;
$link_water_color: #d2e6f6;
$light_blue_color: #ecf4fb;
$alto_color: #d1d1d1;
$onahau_color: #cde9ff;
$dark_blue_color: #233340;
$black_color: #000;
$black_haze_color: #f1f2f2;
$red_color: #f95454;
$text_color_light: #0d1114;
$fiord_color: #3e5568;
$shadow_blue_color: #788c9d;
